@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <br />
    <a class="navbar-brand" asp-controller="Covid19Item" asp-action="Create">Registrer dig her med Covid 19 prøve</a>
    <br />
</div>
